a {
    color: #ddd;
    text-decoration: none;
    
    mat-list {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 0;
        margin: 0;

        mat-list-item {
            display: flex;
            align-items: center;
            min-width: 70px;
            padding: 40px 0;

            mat-icon {
                margin: 0 auto;
                height: 60px;
            }
        }

        .icon-display {
            display: flex;
            justify-content: center;
            align-items: center;
            transform: scale(2);
        }
    }
}