<header>
    <app-sidebar></app-sidebar>
    <div class="container">
        <app-navbar></app-navbar>
        <div class="cards">
            <mat-card>
                <app-nav-buttons href="google.com" mensagem="Home" icon="home"></app-nav-buttons>
            </mat-card>
            <mat-card>
                <app-nav-buttons icon="start" mensagem="FODASE"></app-nav-buttons>
            </mat-card>  
            <mat-card>
                <app-nav-buttons href="google.com" mensagem="asdsdsadsa" icon="sync"></app-nav-buttons>
            </mat-card>
        </div>          
        <app-footer></app-footer>
    </div> 
</header> 

