header {
    display: flex;
    justify-content: start;
    align-items: start;
    flex: 1;
    
    .container {
        display: flex;
        flex: 1;
        flex-direction: column;

        .main-content {
            display: flex;
            justify-content: center;
            align-items: center;
            min-height: 60vh;
            .cards {
                display: flex;
                justify-content: center;
                gap: 50px;
                flex-direction: row;
                width: 50vw;
                padding: 80px;
                background-color: #f1f1f1;
                border: 1px solid #ddd;
                box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;

                mat-card {
                    background-color:#f7f7f7;
                    border: 2px solid #e9e9e9;
                    box-shadow: 3px 6px 5px #ddd;
                }
            }

        }
        app-footer {
            position: absolute;
            width: 100vw;
            bottom: 0;
        }
    }
}


